:root {
  --bg-dark-green: #107c41;
  --bg-purple: #646de2;
  --bg-blue: #0078d4;
  --bg-grey: #f0efef;
  --bg-dark-blue: #0b5394;
  --blue: #007bff;

  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.container {
  margin-inline: auto;
  width: min(100%, 1684px);
}

.header__logo {
  filter: saturate(500%) contrast(800%) brightness(500%) invert(80%) sepia(50%)
    hue-rotate(120deg);
}

.button {
  padding: 6px 20px;
  max-width: 120px;
  color: var(--white);
  border: none;
  background-color: var(--blue);
  font-family: -apple-system;
}

.header {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.header__logos {
  display: flex;
  height: 540px;
  align-items: center;
}

.header__logos > *:nth-child(1) {
  width: 324px;
  height: 46px;
}

.header__logo {
  width: 200px;
}

.header__text {
  display: flex;
  flex-direction: column;
}

.benefits_wrapper {
  display: grid;
  max-width: 60%;
  margin-inline: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.benefits__item {
  border-radius: 60px 0 60px 0;
  background-color: var(--bg-grey);
  overflow: hidden;
  /* padding: 2rem; */
}

.benefits__item__header {
  position: relative;
  font-size: 26px;
  text-align: center;
  color: var(--white);
  padding: 1rem;
}

.benefits__item__header::after {
  position: absolute;
  content: "";
  height: 200px;
  top: -90px;
  right: -80px;
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.benefits__item img {
  margin-inline: auto;
}

.benefits__item figure {
  display: flex;
  margin: 0;
  padding: 36px;
  flex-direction: column;
  gap: 1rem;
}

.icons {
  display: flex;
  justify-content: center;
}

.office {
  overflow: hidden;
  border-radius: 60px 0 60px 0;
  background-color: var(--bg-grey);
}

.office h3,
p {
  margin-top: 0;
}

.office__header {
  position: relative;
  overflow: hidden;
  margin-top: 0;
  padding: 50px;
  background-color: var(--bg-dark-blue);
  transform-style: preserve-3d;
}

.office__header h2 {
  margin-top: 0;
  color: var(--white);
  font-size: 34px;
}

.office__header::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 250px;
  background: #0078d4;
  bottom: -100px;
  left: -100px;
  border-radius: 50%;
  transform: translateZ(-1px);
  z-index: -999999;
}

.office__info {
  display: flex;
  padding: 45px 25px;
  flex-direction: column;
  gap: 3rem;
}

.office__info_title {
  width: 70%;
  margin-inline: auto;
  padding-inline: 200px;
}

.office__info_tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.office__info_tab {
  padding-inline: 41px;
}

.office__info_tab img {
  margin-inline: auto;
  margin-bottom: 25px;
}

.office__info_tab h3 {
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f0efef;
  border-collapse: collapse
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

table th {
  font-size: 1em;
  letter-spacing: 0.1em;
  background: #d5d5d5;
}

table th, table td {
  padding: 2em;
  text-align: center;
  border: 3px solid #f0efef;
}

th {
  background-color: var(--bg-grey);
}



.bg-purple {
  background-color: var(--bg-purple);
}

.bg-blue {
  background-color: var(--bg-blue);
}

.bg-green {
  background-color: var(--bg-dark-green);
}
